<h2>Member Details:</h2>

<p><%= @current_member.name%></p>

<p>Premium Membership: <%= @current_member.premium_membership %></p>

<p>Classes booked:</p>

<ul>
  <% @current_member.gym_classes.each do |gym_class| %>
  <li><a href="/gym_classes/<%= gym_class.id %>"><%= gym_class.name %> - <%= gym_class.time_slot %></a></li>
  <% end %>
</ul>

<a href="/members/<%=@current_member.id%>/edit">
  <button>Edit Member</button>
</a>

<form method="post" action="/members/<%=@current_member.id%>/delete">
  <input type="submit" value="Delete Member"/>
</form>

<%if @gym_classes_not_conflicting.length > 0%>
<a href="/members/<%=@current_member.id%>/add_gym_class">
  <button>Enroll Member in Gym Class</button>
</a>
<%end%>
