<div>
  <div class="details-table">
    <h1>Member Details</h1>

    <table>
      <tr>
        <th>Member Name</th>
        <th></th>
        <th>Premium Membership</th>
        <th></th>
        <th>Class</th>
        <th></th>
        <th>Time Slot</th>
      </tr>
      <tr>
        <td><%= @current_member.name%></td>
        <td>|</td>
        <td><%if @current_member.premium_membership%>✔️<%else%>❌<%end%></td>
        <td>|</td>
        <td class="details-list">
          <% @current_member.gym_classes.each do |gym_class| %>
          <a href="/gym_classes/<%= gym_class.id %>"><%= gym_class.name %></a>
          <% end %>
        </td>
        <td>-</td>
        <td class="details-list">
          <% @current_member.gym_classes.each do |gym_class| %>
          <a href="/gym_classes/<%= gym_class.id %>"><%= gym_class.time_slot %></a>
          <% end %>
        </td>
      </tr>
    </table>
  </div>
  <div class="details-buttons">
    <a href="/members/<%=@current_member.id%>/edit">
      <button>Edit Member</button>
    </a>

    <form method="post" action="/members/<%=@current_member.id%>/delete">
      <input type="submit" value="Delete Member"/>
    </form>

    <%if @gym_classes_not_conflicting.length > 0%>
    <a href="/members/<%=@current_member.id%>/add_gym_class">
      <button>Enroll Member in Class</button>
    </a>
    <%end%>
  </div>
</div>
