<p><%= @member.name%></p>

<p>Premium Membership: <%= @member.premium_membership %></p>

<hr/>

<p>Classes booked:</p>

<ul>
  <% @member.gym_classes.each do |gym_class| %>
  <li><a href="/gym_classes/<%= gym_class.id %>"><%= gym_class.name %> - <%= gym_class.time_slot %></a></li>
  <% end %>
</ul>

<hr/>

<a href="/members/<%=@member.id%>/edit">
  <button>Edit Member</button>
</a>

<form method="post" action="/members/<%=@member.id%>/delete">
  <input type="submit" value="Delete Member"/>
  </form>
