<div class="index">
  <h1>Gym Classes</h1>

  <table>
    <tr>
      <th>Name</th>
      <th></th>
      <th>Time Slot</th>
      <th></th>
      <th>Places Booked</th>
      <th></th>
      <th>Available Places</th>
      <th></th>
      <th>Premium Time Slot</th>
    </tr>
    <% for gym_class in @gym_classes %>
    <tr>
      <td><a href='/gym_classes/<%=gym_class.id%>'> <%=gym_class.name%> </a></td>
      <td>-</td>
      <td><a href='/gym_classes/<%=gym_class.id%>'> <%=gym_class.time_slot%></a></td>
      <td>|</td>
      <td><%=gym_class.members.length%></td>
      <td>|</td>
      <td><%=gym_class.capacity - gym_class.members.length%></td>
      <td>|</td>
      <td><%if gym_class.premium_time_slot_check%>✔️<%else%>❌<%end%></td>
    </tr>
    <% end %>
  </table>
</div>
