<p><%= @gym_class.name %> - <%= @gym_class.time_slot %> - Available Places: <%=@gym_class.capacity - @gym_class.members.length%></p>

<hr/>

<p>Members enrolled:</p>

<ul>
  <% @gym_class.members.each do |member| %>
  <li><a href="/members/<%= member.id %>"><%= member.name %></a></li>
  <% end %>
</ul>

<hr/>

<a href="/gym_classes/<%=@gym_class.id%>/edit">
  <button>Edit Gym Class</button>
</a>
<form method="post" action="/gym_classes/<%=@gym_class.id%>/delete">
  <input type="submit" value="Delete Gym Class"/>
  </form>
