<div>
  <div class="details-table">
    <h1>Gym Class Details</h1>

    <table>
      <tr>
        <th>Class Name</th>
        <th></th>
        <th>Time Slot</th>
        <th></th>
        <th>Available Places</th>
        <th></th>
        <th>Members Enrolled</th>
      </tr>
      <tr>
        <td><%= @current_gym_class.name %></td>
        <td>-</td>
        <td><%= @current_gym_class.time_slot %></td>
        <td>|</td>
        <td><%=@current_gym_class.capacity - @current_gym_class.members.length%></td>
        <td>|</td>
        <td class="details-list">
          <% @current_gym_class.members.each do |member| %>
          <a href="/members/<%= member.id %>"><%= member.name %></a>
          <% end %>
        </td>
      </tr>
    </table>
  </div>
  <div class="details-buttons">
    <a href="/gym_classes/<%=@current_gym_class.id%>/edit">
      <button>Edit Gym Class</button>
    </a>
    <form method="post" action="/gym_classes/<%=@current_gym_class.id%>/delete">
      <input type="submit" value="Delete Gym Class"/>
    </form>
    <%if @current_gym_class.capacity > @current_gym_class.members.length && @members_passing_requirements_for_time_slot.length > 0%>
    <a href="/gym_classes/<%=@current_gym_class.id%>/add_member">
      <button>Add Member to Class</button>
    </a>
    <%end%>
  </div>
</div>
