<h2>Gym Bookings:</h2>

<% @bookings.each do |booking| %>
<p>
  <a href='/members/<%= booking.member.id %>'><%= booking.member.name %></a> - <a href='/gym_classes/<%= booking.gym_class.id %>'><%= booking.gym_class.name %> - <%= booking.gym_class.time_slot %></a>
  <a href="/bookings/<%=booking.id%>/edit">
    <button>Edit Booking</button>
  </a>
  <form method="post" action="/bookings/<%=booking.id%>/delete">
    <input type="submit" value="Delete Booking"/>
  </form>
</p>
<% end %>
