<div>
  <h1>Gym Bookings</h1>

  <table>
    <tr>
      <th>Member Name</th>
      <th></th>
      <th>Class Name</th>
      <th></th>
      <th>Time Slot</th>
      <th></th>
      <th></th>
    </tr>
    <% @bookings.each do |booking| %>
    <tr>
      <td><a href='/members/<%= booking.member.id %>'><%= booking.member.name %></a></td>
      <td>|</td>
      <td><a href='/gym_classes/<%= booking.gym_class.id %>'><%= booking.gym_class.name %></a></td>
      <td>-</td>
      <td><a href='/gym_classes/<%= booking.gym_class.id %>'><%= booking.gym_class.time_slot %></a></td>
      <td>
        <a href="/bookings/<%=booking.id%>/edit">
          <button>Edit</button>
        </a>
      </td>
      <td>
        <form method="post" action="/bookings/<%=booking.id%>/delete">
          <input type="submit" value="Delete"/>
        </form>
      </td>
    </tr>
    <% end %>
  </table>
</div>
