<form action="/bookings" method="post">

  <label>
    Select a Gym Member:
    <select name="member_id">
      <option selected disabled hidden>Choose here...</option>
      <% for member in @members %>
      <option value="<%= member.id %>"><%= member.name %></option>
      <% end %>
    </select>
  </label>

  <label>
    Select a Gym Class:
    <select name="gym_class_id">
      <option selected disabled hidden>Choose here...</option>
      <% gym_class_option = {} %>
      <% for gym_class in @gym_classes %>
        <% if gym_class != gym_class_option %>
          <option value="<%= gym_class.id %>"><%= gym_class.name %></option>
          <% gym_class_option = gym_class %>
        <% end %>
      <% end %>
    </select>
  </label>

  <label>
    Select a Time Slot:
    <select name="gym_class_id">
      <option selected disabled hidden>Choose here...</option>
      <% for gym_class in @gym_classes %>
      <option value="<%= gym_class.id %>"><%= gym_class.time_slot %></option>
      <% end %>
    </select>
  </label>

  <input type='submit' value="Add Booking">

</form>
