<p>Gym Class: <%= @booking.gym_class.name %></p>
<p>Member: <%= @booking.member.name %></p>
<p>Time Slot: <%= @booking.gym_class.time_slot %></p>

<hr/>

<a href="/bookings/<%=@booking.id%>/edit">
  <button>Edit Booking</button>
</a>

<form method="post" action="/bookings/<%=@booking.id%>/delete">
  <input type="submit" value="Delete Booking"/>
  </form>
